{% extends "./base.html" %}
{% load static %}
{% block title %}ToDo 목록{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/todo_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/pagination.css' %}">
{% endblock %}

{% block content %}
    <div class="todo-list">
        <h2>나의 ToDo 목록</h2>
        <form method="get">
            <label>
                <input type="text" name="q" value="{{ q }}" placeholder="검색어 입력"/>
            </label>
            <button type="submit">검색</button>
        </form>

        <ul>
            {% for todo in page_obj %}
                <li>
                    <a href="{% url 'cbv_todo_info' todo.id %}">
                        {{ todo.title }}
                    </a>
                    <div style="margin-top: 0.5rem;">
                        완료 여부: {{ todo.is_completed|yesno:"완료,미완료" }}<br>
                        📅 시작일: {{ todo.start_date|date:"Y-m-d" }}<br>
                        ⏰ 마감일: {{ todo.end_date|date:"Y-m-d" }}
                    </div>
                </li>
            {% empty %}
                <li>할 일이 없습니다.</li>
            {% endfor %}
        </ul>
    </div>


    {% if page_obj.has_other_pages %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">이전</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">다음</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
